// Place all the styles related to the sub_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sub_comment_content{
  margin-left: 80px;
}

.form-control{
  width: 40%;
  margin-left: 70px;
}

.sub_comment_submit{
  width: 20%;
  margin: 10px 0 0 70px;
}